:root {
  --primary-color: #000;
  --secondary-color: rgb(236, 231, 214);
  --accent-color: #c2b280;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --white-color: #fff;

  --transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.bg-theme {
  background-image: linear-gradient(
      to right,
      rgb(26 26 29 / 50%),
      rgb(26 26 29 / 50%)
    ),
    url(../images/background.jpeg);
  padding-top: 22%;
  padding-bottom: 15px;
}

.header-buttons {
  background-image: linear-gradient(to right, #3a1d19, rgb(39 28 21));
  z-index: 7;
  position: fixed;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  }

.header-buttons > a {
  display: inline-block;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--white-color);
}

.main-page-logo {
  justify-content: center;
}

.logo-text {
  color: var(--accent-color);
}

.nav-btn {
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
}

.nav-btn:first-child {
  margin-right: 12px;
}

.active {
  color: var(--accent-color);
  padding-bottom: 22px;
  border-bottom: 3px solid var(--accent-color);
}

.main {
  background-color: var(--secondary-color);
  width: 80%;
  max-width: 450px;
  padding-top: 20px;
  padding-bottom: 12px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
  border: 2px dashed var(--dark-color);
  border-radius: 10px;
  margin: 6px 10px 10px;
  background-color: rgba(194, 178, 128, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.main-title {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  margin: 0 5px 10px;
  display: inline-block;
  color: var(--dark-color);
}

.gear-img {
  width: 28px;
  height: 28px;
  margin: 0;
  fill: var(--dark-color);
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.title {
  font-weight: 700;
  padding-top: 12px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  color: var(--dark-color);
}

.list-item {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.list-title {
  font-weight: 500;
  font-size: 16px;
  color: var(--dark-color);
  margin-bottom: 4px;
}

.weight {
  font-size: 10px;
  color: var(--text-color);
  font-weight: 500;
  display: inline-block;
  margin-left: 5px;
}

.list-block {
  display: flex;
  flex-direction: column;
}

.food-disc {
  font-size: 10px;
  color: var(--text-color);
}

.alco-disc {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

.list-price {
  margin-left: auto;
  font-weight: 500;
  font-size: 10px;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 5px 10px;
  margin-bottom: 12px;
  margin-top: 10px;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-bg {
  background-image: linear-gradient(
    to bottom,
    rgb(26 26 29 / 100%),
    rgb(26 26 29 / 90%)
  ),url(../images/beer.avif);
  background-size: cover;
  
}

.footer-content {
  width: 100%;
  max-width: 450px;
  color: var(--white-color);
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.foot-text {
  padding: 8px 2px;
  border-radius: 12px;
  margin-bottom: 30px;
  letter-spacing: 0.05em;
  font-weight: 500;
}

.pulse {
  animation: pulse-animation 1.7s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(128, 92, 33, 0.6);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(227, 91, 12, 0);
  }
}


.foot-links {
  display: flex;
  justify-content: space-between;
  padding: 0 24px 15px;
}

.foot-link {
  color: var(--accent-color);
  font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    max-width: 800px;
  }
  
  .header-buttons {
    padding: 20px 16%;
  }

  .logo {
    font-size: 32px;
  }

  .nav-btn {
    font-size: 26px;
  }

  .nav-btn:first-child {
    margin-right: 32px;
  }
  
  .active {
    padding-bottom: 24px;
    border-bottom: 3px solid var(--accent-color);
  }

  .bg-theme {
    padding-top: 104px;
    padding-bottom: 30px;
  }

  .main {
    width: 70%;
    max-width: 800px;
  }

  .main-title {
    font-size: 48px;
  }

  .gear-img {
    width: 36px;
    height: 36px;
  }

  .title {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .list-title {
    font-size: 20px;
  }

  .food-disc {
    font-size: 14px;
  }

  .list-price {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .footer-content {
    min-width: 600px;
  }
}
